<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tutor index</title>
</head>
<body>
<p th:text="${tutor.getFullName() + ', ' + tutor.getAge() + ', ' +
tutor.getEmail() + ', ' + tutor.getDiscipline()}">VALUE</p>
<div th:if="${!studentsOfTheTutor.isEmpty()}">
    <span>Сейчас у преподавателя занимаются: </span>
        <div th:each="student: ${studentsOfTheTutor}">
        <a th:href="@{/students/{studId}(studId=${student.getId()})}"
            th:text="${student.getFullName() + ', ' + tutor.getDiscipline()}"></a>
        </div>
</div>
<form th:method="PATCH" th:action="@{/tutors/{id}/choose(id=${tutor.getId()})}">
    <label for="student">Choose student to start education</label>
    <select th:object="${student}" th:field="*{id}" id="student">
        <option th:each="student : ${validStudents}" th:value="${student.getId()}" th:text="${student.getFullName()}">
        </option>
    </select>
    <input type="submit" th:value="choose"/>
</form>
<div th:if="${!studentsOfTheTutor.isEmpty()}">
    <form th:method="PATCH" th:action="@{/tutors/{id}/exclude(id=${tutor.getId()})}">
        <label for="studentToExclude">Choose student to exclude</label>
        <select th:object="${student}" th:field="*{id}" id="studentToExclude">
            <option th:each="student : ${tutor.getStudents()}" th:value="${student.getId()}" th:text="${student.getFullName()}">
            </option>
        </select>
        <input type="submit" th:value="'Exclude Student'"/>
    </form>
</div>
<form th:method="GET" th:action="@{/tutors/{id}/edit(id=${tutor.getId()})}">
    <input type="submit" th:value="edit"/>
</form>
<form th:method="DELETE" th:action="@{/tutors/{id}(id=${tutor.getId()})}">
    <input type="submit" th:value="delete"/>
</form>


<br/>
<!--<a th:href="@{/library/{id}/edit(id=${book.getBookId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/library/{id}(id=${book.getBookId()})}">-->
<!--    <input type="submit" value="Delete">-->
<!--</form>-->
<!--<div th:if="${book() != 0}">-->
<!--    <b th:text="'Books:'"></b>-->
<!--    <div th:each="book: ${books}"-->
<!--         th:text="${book.getAuthor() + ', ' + book.getTitle() + ', ' + book.getPublishYear()}">books show</div>-->
<!--</div>-->
<!--<div th:if="${books.size() == 0}"-->
<!--     th:text="'This user have no books'">no books show</div>-->

</body>
</html>