<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tutor index</title>
</head>
<body>
<p th:text="${tutor.getFullName() + ', ' + tutor.getAge() + ', ' +
tutor.getEmail() + ', ' + tutor.getDiscipline()}">VALUE</p>
<div th:if="${!pupils.isEmpty()}">
    <span>Сейчас у преподавателя занимаются: </span>
    <div th:each="pupil: ${pupils}">
    <a th:href="@{/pupils/{id}(id=${pupil.getId()})}"
       th:text="${pupil.getFullName() + ', ' + tutor.getDiscipline()}">tutor show
    </a>
    </div>
</div>
<form th:method="PATCH" th:action="@{/tutors/{id}/choose(id=${tutor.getId()})}">
    <label for="pupil">Choose pupil to start education</label>
    <select th:object="${pupil}" th:field="*{id}" id="pupil">
        <option th:each="pupil : ${validPupils}" th:value="${pupil.getId()}" th:text="${pupil.getFullName()}">
        </option>
    </select>
    <input type="submit" th:value="choose"/>
</form>
<form th:method="GET" th:action="@{/tutors/{id}/edit(id=${tutor.getId()})}">
    <input type="submit" th:value="edit"/>
</form>
<form th:method="DELETE" th:action="@{/tutors/{id}(id=${tutor.getId()})}">
    <input type="submit" th:value="delete"/>
</form>


<br/>
<!--<a th:href="@{/library/{id}/edit(id=${book.getBookId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/library/{id}(id=${book.getBookId()})}">-->
<!--    <input type="submit" value="Delete">-->
<!--</form>-->
<!--<div th:if="${book() != 0}">-->
<!--    <b th:text="'Books:'"></b>-->
<!--    <div th:each="book: ${books}"-->
<!--         th:text="${book.getAuthor() + ', ' + book.getTitle() + ', ' + book.getPublishYear()}">books show</div>-->
<!--</div>-->
<!--<div th:if="${books.size() == 0}"-->
<!--     th:text="'This user have no books'">no books show</div>-->

</body>
</html>